@use 'variable' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--app-font-family);
  font-size: var(--app-font-size-m);
  line-height: var(--app-line-height);
  font-weight: var(--app-font-weight);
  background-color: var(--app-paper);
  --gradient-color-1: #119de9;
  --gradient-color-2: #637fdc;
  --gradient-color-3: #1dd6c3;
  --gradient-color-4: #9adfee;
  --vxe-ui-font-family: var(--app-font-family);
  --vxe-ui-table-menu-item-width: initial;
}

.iconButton{
  color: var(--app-text-color);
  padding: var(--app-space-xs);
  border-radius: var(--app-border-radius-s);
  font-size: var(--app-font-size-m);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--app-space-s);
  line-height: 0;
  &:hover {
      background-color: var(--app-primary-alpha-10);
  }
  &.selected {
      background-color: var(--app-primary-alpha-30);
      color: var(--app-primary-color);
  }
}